.card {
  margin: 8px 0px;
  &:hover {
    transition: all 0.5s ease-in;
    scale: 1.02;
    cursor: pointer;
  }
  &__title {
    display: block;
    margin-top: 12px;
    color: #dfdfdf;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  &__date {
    color: #8d8b8b;
    font-size: 13px;
  }
}
