.header {
  width: 100%;
  height: 60px;
  position: fixed;
  padding: 10px;
  background-color: transparent;
  transition: background-color 1s ease;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__black {
    background-color: black;
  }

  &__logo {
    width: 100px;
    object-fit: contain;
    cursor: pointer;
  }

  &__user {
    margin-left: 12px;
    cursor: pointer;
    &:hover {
      border-radius: 4px;
      scale: 1.05;
      transition: all 1 linear;
    }
  }
  &__search {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
#inputSearch {
  color: white;
  border-radius: 4px 0px 0px 4px;
  border: none;
  background-color: rgba($color: #000000, $alpha: 0.5);
  transition: background-color 0.5s ease-in;
  &::placeholder {
    color: #999999;
  }
  &:focus {
    background-color: rgba($color: #000000, $alpha: 0.8);
    color: white;
  }
}
.header__search_inputBlack {
  background-color: rgba(145, 145, 145, 0.2) !important;
}
.header__search_btn {
  border: none !important;
  border-radius: 0px 4px 4px 0px !important;
  background-color: #0d7e8096 !important;
  &:hover {
    background-color: #0d7e8096 !important;
    cursor: alias;
  }
  &:active {
    background-color: #0d7e8096 !important;
  }
}
